*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* box-sizing: border-box; */
    line-height: 1.8;
    list-style: none;


}
.clr {
    clear: both;
}
.home-layer{
  height: 100%;
background-color:rgba(0, 0, 0, 0.8)
}
.home{

    background-image: url(../imgs/hero\ img.jpg );
    background-position: 100%;
    background-size: 100%;
    height: 100vh;
 
}

    .navbar {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px 3 0px;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        text-align: center;
        filter: brightness(100%);

      
      



}
.navbar .logo  a{
    float: left;
    color: #FF305B;
    font-family: Roboto ,sans-serif;
    font-size:x-large;
    font-weight: 800;
    padding-left: 60px;
    padding-top: 20px;
  }
  

  
  .navbar .nav-menu {
    float: right;
  }
  
  .navbar .nav-menu li {
    display: inline-block;
    padding: 30px 30px;
  }
  
  .navbar .nav-menu li a {
    color: #fff;
    font-family: Roboto ,sans-serif;
    transition: color  ;
  }
.home_text{

    color: #fff;
    text-align: center;
    padding-top: 300px;

}
.home_text h1{

    color: #FF305B;
    font-size: xx-large;

}
.navbar .nav-menu li a:hover{
  color: #FF305B;


}
.portfolio{
  margin: 50px;


}


.about_text{
  float: right;
  width: 50%;
}
.about-img {
  width: 30%;
  float: left;
  border: 5px solid #333;
  border-radius: 5px;
}

 .about-img .image {
  position: relative;
  top: 20px;
  left: 20px;
  overflow: hidden;
}

 .about-img .image .layer {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000063;
  opacity: 0;
  transition: 0.5s;
}

 .about-img .image:hover .layer {
  top: 0;
  opacity: 1;
}

.about-img .image .layer li {
  display: inline-block;
  padding: 0 10px;
}

 .about-img .image a {
  color: #fff;
  font-size: 20px;
}
 .about-img .image .layer ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-img img {
  width: 100%;
}

/* .port_img:hover{
  background-color: #333333;
  position: absolute; */


/* .port_img::before{
  content: "";
  position: absolute;
  height: 200px;
  width: 100px;
  top: 0px;
  left: 400%;
  background-color:#FF305B ; */





.about_text h2{
  font-family: "Source Sans Pro"
  sans-serif;
  color: #333333;
  position: relative;


}
.about_text h2::before{
  content: "";
  position:absolute;
  left: -20px;
  top: 0;
  height: 30px;
  width: 5px;
  background-color: #FF305B;


}


.profile-about li{
  width: 50%;
  /* display:inline-block; */
  float: right;
  margin-top: 10px;
  color:#333333;

}
.profile-about li span{
  font-weight: bold;

}
.profile-about li a{
  color:#333333;

}
.download-cv-btn a{

  width: 25%;
  float: left;
  border: #FF305B solid 10px;
  background-color: #FF305B;
  color: #f1e9e9;
  margin-top:  7px;
  margin-right: 7px;
  border-radius: 5%;
  text-align: center;

}
.our_services{
  float: left;
  text-align: center;
}

.service_sec{
  text-align: center;
  float: left;
width: 25%;
margin-top: 40px;
float: left;
color: #555;

}
.service_sec h2{
  transition: 0.5s color;

}



.service_sec h2:hover{
  transform: scale(1.5);
  color:#FF305B;
}


.h2-srvice {
  font-size:xx-large;
  position: relative;




}
.h2-srvice h2::before{
  position: absolute;
  border-color: #ff305b;
    border-style: solid;
    border-width: 1px 0;
    bottom: -10px;
    padding: 4px 0 5px;
    width: 70px;
    height: 10px;
    background-color: #FF305B;
}

.h2-srvice h2::after{

  content: "";
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
}
.our_services{
  background-color:RGB(241, 241, 241);
  margin: 50px;}


  .ourserv{
    background-color: #f1f1f1;
    padding-top:100px
}
.ourserv .header h2{
    font-size: 40px;
    color:#333333;
    font-weight: 900;
    line-height: 30px;
    margin-bottom: 10px;
    padding-bottom: 30px;
    position: relative;
    text-align: center;
    text-transform: capitalize;
}
.ourserv .layout{
    background-color: #f1f1f1;
    padding:30px;
    /* overflow: auto; */
}
.ourserv .serv{
    width:25%;
    text-align: center;
    background-color: #f1f1f1;
    float:left;
    height:40%;
    padding-top:20px;
}
.ourserv h4{
    font-size: 24px;
    font-weight: 600;
    margin-top:10px;
    margin-bottom: 15px;
    color:#333333;
}
.ourserv p{
    color:#555;
}
.ourserv .serv:hover img{
    transform: scale(1.2);
}
.ourserv .serv:hover{
    background-color: white;
    
}
.ourport .header{
    text-align: center;
    padding-top:80px;
}
.ourport h2{
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    margin-bottom: 10px;
    padding-bottom: 30px;
    position: relative;
    text-transform: capitalize;
    color:#333;
}

.ourport .header button{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 3px 12px;
    position: relative;
    text-transform: uppercase;
    margin-top:30px;
}
.ourport .header .diff{
    color:#ff305b;
}

.ourport .layout{
    width:30%;
    padding: 10px;
    float:left;
}
.ourport .layout .pic{
    padding: 5px;
    position: relative;
}
.ourport .layout .pic img{
    width:100%;
}
.ourport .layer .layout .pic .link{
    background-image:url("images/link.png");
    background-repeat: no-repeat;
    right:15px;
    bottom:15px;
    width:10%;
    height:30px;
    position: absolute;
    opacity:0;
}
.ourport .layer{
    padding:45px;
    /* overflow: auto; */
}
.ourport .layout .pic:hover .link{
    opacity:1;
}
.ourport .layout .pic:hover img{
    filter:brightness(50%);
}
.info{
  background-color: #f1f1f1;
  padding:60px 90px; 
  margin-top:30px;
  overflow: auto;
}
.info .inf{
  background-color: #f1f1f1;
  width:25%;
  text-align: center;
  padding-top: 30px;
  float:left;
}
.inf h2{
  font-size: 30px;
  font-weight: 800;
  line-height: 30px;
  color:#333;
  padding: 20px;
}
.inf p{
  color:#555;
}
.feed{
  overflow:auto;
  padding-top:80px;
}
.feed h2{
  font-size: 40px;
  font-weight: 800;
  line-height: 30px;
  padding-bottom: 20px;
  position: relative;
  text-transform: capitalize;
  color:#333;
  text-align: center;
}
.lg{
  border: .5px #ff305b solid;
  width:10%;
  margin-top:5px;
  margin-bottom:5px;
  margin-left:44.5%;
}
.sm{
  border: .5px #ff305b solid;
  width:5%;
  margin-left:47%;
}
.slider .right p{
  color:#333;
  padding-bottom: 10px;
}
.feed h3{
  font-size: 25px;
  font-weight: 800;
  line-height: 30px;
  padding-top:20px;
  padding-bottom: 20px;
  position: relative;
  text-transform: capitalize;
  color:#333;
}
.feed .slider{
  padding-top:20px;
  padding-bottom:20px;
  padding-left:20%;
  overflow: auto;
  width:80%;
  background-color:#f1f1f1 ;
}
.slider .left{
width:25%;
float:left;
height:40%;
background-color: #f1f1f1
}
.feed .slider button{
  border:none;
  background-color: #f1f1f1;
  color:#555;
  margin-bottom:10px;
}
.feed .slider .left img{
  border-radius: 50%;
  width:120px;
  height:120px;
  margin-top:20%;
  margin-left:80px;
}
.feed .right{
  width:70%;
  height:40%;
  padding-left:40px;
  background-color: #f1f1f1;
  float:right;
}
.blog{
  background-color: #f1f1f1;
  margin-top:100px;
}
.blog h2{
  font-size: 40px;
  font-weight: 800;
  line-height: 30px;
  padding-bottom: 20px;
  position: relative;
  text-transform: capitalize;
  color:#333;
  text-align: center;
  padding-top:50px;
}
.blog .header{
  background-color: #f1f1f1;
  padding:30px;
  overflow: auto;
}
.blog .header img{
  width:100%;
}
.blog .header .layer{
  background-color: #f1f1f1;
  padding:30px;
  float:left;
  width:27%;
}
.blog .header p{
  color:#555;
  margin-top:20px;
  padding-left:10px;
}
.blog .header h3{
  font-size: 25px;
  font-weight: 800;
  line-height: 30px;
  position: relative;
  text-transform: capitalize;
  color:#333;
  padding-left:10px;
}
.blog .header button{
  border:none;
  background-color: white;
  margin-top: 10px;
  padding-left:10px;
}
.blog .header button:hover{
  color: #ff305b;
}
.blog .header h3:hover{
  color:#ff305b;
}
.blog .header .caption{
  background-color: white;
  padding-bottom:20px;
  
}
.blog .header .caption .pic{
  height:36.5%;
}
.blog .header .caption img{
  height:90%;
}
.blog .layer .caption .vid{
  width:100%;
  height:200px;
}
.contact-us{
  padding:30px 20px;
}
.contact-us h2{
  font-size: 40px;
  font-weight: 800;
  line-height: 30px;
  padding-bottom: 20px;
  position: relative;
  text-transform: capitalize;
  color:#333;
  text-align: center;
}
.contact-us .form{
  padding:25px 10px;
}
.contact-us form{
  width:70%;
  margin-left:16%;
  overflow: hidden;
}
.contact-us input , textarea{
  margin-bottom: 20px;
  border-radius: 3px;
  border: solid 1px lightgray;
  padding:5px;
}
.contact-us .w-45{
  width:48%;
}
.contact-us .mar{
  margin-right:30px;
}
.contact-us .w-100{
  width:100%;
}
.contact-us .name{
  margin-right:20px;
}
.contact-us button{
  border:none;
  background-color: #ff305b;
  padding: 7px 20px;
  border-radius: 5px;
  color:white;
  font-size:14px;
}
.contact-us button:hover{
  background-color: #ec2403;
}
footer{
  background-color: #333;
  text-align: center;
}
.fab {
  color:white;
  margin:50px 20px 20px 0;
}    
footer p{
  padding-bottom:30px;
  color: white;
}
footer span{
  color:#ff305b;
}
.fab:hover{
  color:#ff305b;
}
@media (max-width:990px) and (min-width:767px){
  .home{
      height:100%;
      background-size:105% 100%;
  }
  .home .nav{
      background-color: #333333;
      overflow: hidden;
      padding:8px;
      position: absolute;
      width:100%;
  }
  .home .nav .nav-left{
      float:left;
      padding:10px;
      padding-left:10px;
  }
  .home .nav .nav-right { 
      float:right;
      padding-top:10px;
      padding-right:40px;
  }
  .hello{
      padding: 70px 0 0 0;
  }
  .hello .layout{
  
      width:50%;
      padding:0 0 0 40px ;
      height:100%;
  }
  .hello .pic{
      width:100%;
      box-shadow: none;
      padding:1px;
  }
  .hello .pic .cover{
      opacity: 0;
      top:0;
      height:0%;
      width:345px;
      transform: translateX(0px) translateY(450px);
  }
  .hello .layout .pic:hover .cover{
      width:345px;
      transform: translateX(0) translateY(0px);
      height:100%;
  }
  .hello .pic img{
      transform: none;
      width:345px;
  }
  .hello .caption{
      overflow: hidden;
      padding:0;
  }
  .hello .caption .text{

      height:50%;
      font-size:10px;
      padding-right:0px;
      height:63%;
      padding:0 0 0 15px;
  }
  .hello .caption .text p{
      font-size: 16px;
      width:80%;
      color:#555;
      margin-left:0;
  }
  .hello .caption .text h2:after{
      margin-left:0;
  }
  .hello .caption .text h2{
      padding-left:10px;
      text-transform: uppercase;
  }
  .hello .caption .form{

      padding-left:15px;
  }
  .hello .caption .form li{
      padding:0;
      margin-bottom: 5px;
      width:50%;
  }
  .hello .caption .form span{
      font-size :18px;
  }
  .ourserv .serv{
      width:50%;
  }
  .ourport .layout{
      width:50%;
  }
  .feed{
      padding:80px 20px 0 20px;
      height:75%;
  }
  .feed .slider{
      padding:5px;
      height:70%;
      width:100%;
  }
  .lg{
      width:20%;
      margin-left:42%;
  }
  .sm{
      width:10%;
  }
  .slider .right{
      height:100%;
      width:70%;
      float:right;
  }
  .feed .slider .left{
      width:30%;
      height:100%;
  }
  .blog .header .layer{
      padding:20px;
  }
  .blog .header h3{
      font-size:20px;
  }
  .blog .header p{
      margin-top:10px;
  }
  .blog .header .caption .pic{
      height:23%;
      margin-bottom: 10px;
  }
  .blog .header .caption img{
      height:100%;
  }
  .blog .layer .caption .vid{
      width:100%;
      height:100%;
  }
  .contact-us form{
      padding:10px;
      margin:0;
      width:100%;
  }
  .contact-us .w-45{
      width:47.5%;
  }
}
@media (max-width:766px){
  .home .nav {
      height:10%;
  }
  .home .nav .nav-left{
      padding-left:5px;
      padding-bottom:0;
  }
  .home .nav .nav-right{
     opacity: 0;
  }
  .home h3{
      padding-top:40%;
  }
  .home{
      height:100%;
      background-size:120% 100%;
  }
  .hello{
      padding: 70px 0 0 0;
  }
  .hello .layout{ 
      width:100%;
      height:100%;
      float:none;
      padding-left:0;
  }
  .hello .pic{
      width:60%;
      height:110%;
      box-shadow: none;
      padding:1px;
      margin:auto;
  }
  .hello .pic .cover{
      opacity: 0;
      top:0;
      height:0%;
      width:420px;
      transform: translateX(0px) translateY(450px);
  }
  .hello .layout .pic:hover .cover{
      width:420px;
      transform: translateX(0) translateY(0px);
      height:513px;
  }
  .hello .pic img{
      transform: none;
      width:420px;
      height: 513px;
  }
  .hello .caption{
      overflow: hidden;
      padding:2px;
      width:100%;
      height:105%;
  }
  .hello .caption .mid{
      width:60%;
      overflow: hidden;
      height:100%;
      margin:auto;
  }
  .hello .caption .mid .text{

      height:60%;
      width:100%;
      font-size:10px;
      padding-right:0px;
      padding:0 0 0 15px;
  }
  .hello .caption .text p{
      font-size: 16px;
      width:80%;
      color:#555;
      margin-left:0;
  }
  .hello .caption .text h2:after{
      margin-left:0;
  }
  .hello .caption .text h2{
      padding-left:10px;
      text-transform: uppercase;
  }
  .hello .caption .form{
      padding-left:15px;
      width:110%;
      padding:0;
      height:40%;
      overflow: hidden;
  }
  .hello .caption .form li{
      padding:0;
      float:none;
      margin-bottom: 5px;
      width:50%;
  }
  .hello .caption .form span{
      font-size :18px;
      margin-left:10px;
  }
  .ourserv .serv{
      width:100%;
  }
  .ourport .layout{
      width:100%;
  }
  .info .inf{
      width:100%;
  }
  .feed .slider{
      margin:50px auto;
      padding:0;
      width:70%;
      height:80%;
  }
  .feed .slider .left{
      width:100%;
      float:none;
      height:30%;
  }
  .feed .slider .left img{
      margin:10% 35%;
  }
  .feed .slider .right{ 
     width:100%;
      float:none;
  }
  .blog .header .caption .pic{
      width:100%;
      height: 40%;
      background-color: black
  }
  .blog .header .layer .caption{
      width:80%;
      margin:auto;
  }
  .blog .header .layer{
      width:100%;
  }
  .contact-us .w-45{
      width:100%;
  }
  .sm{
      width:10%;
      margin-left:45%;
  }
  .lg{
      width:20%;
      margin-left:40%;
  }
}

/* ----------- Start Media Query ----------- */



@media (max-width: 850.98px) {
  .about-img,
  .about_text ,
  .service_sec{
     width: 100%;
  }

 
}

@media (max-width: 767.98px) {
  .about-img,
  .about_text ,
  .service_sec{
     width: 100%;
  }
  }




@media (max-width: 575.98px) {
  li
 {
    width: 100%;


  }
  }



